* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: roboto;
    background-color: aqua;
}

.card {
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 10px;
    color: white;
    width: 200px;
    height: 100px;
    background: linear-gradient(to bottom, #405C5A, #38EF7D);
}

.card h1 {
    padding-top: 10px;
    font-size: 15px;
}

.card h4 {
    font-size: 10px;
}

.card a {
    font: bold 10px roboto;
    text-decoration: none;
    color: white;
}

.card h1,
h4,
a,
p {
    filter: drop-shadow(0 2px 3px black);
}

.indicador {
    display: flex;
    align-items: center;
}

.indicador img {
    width: 12px;
    height: 12px;
}

.indicador p {
    padding: 5px;
    font: bold 26px roboto;
}

.card2 {
    margin: auto 10px;
}

.card2 p {
    font-size: 10px;
}

.cidade {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 180px;
    height: 30px;
}

.cidade svg {
    max-width: 12px;
    margin-top: 10px;
}